[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/pack/syntax/start/julia-vim"]
	path = vim/pack/syntax/start/julia-vim
    url = git://github.com/JuliaEditorSupport/julia-vim.git
    ignore = dirty
